/*general content*/
body {
    color: black;
    font-family:'Roboto', arial, helvetica, sans-serif;
    text-align: center;
    background-color: #3b3939;
}
p {
    font-size: 18px;
    text-align: left;
    padding: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}
hr {
    margin-left: 4%;
    margin-right: 4%;
    color: black;
    border-top: 3px solid black;
    box-shadow: 0 2px 2px;
}
.content {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0;
    background-color: #d9d7d7;
    box-shadow: 0 5px 10px 3px;
}
.container {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    background-color: #d9d7d7;
}
.sources {
  text-align:center;
}
.license {
  color:black;
}
.script a:link {
    color:blue;
}
/*navbar*/
nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #333;
        padding: 10px 20px;
        color: white;
        font-family: 'Roboto', sans-serif;
        position: relative;
        font-size: 32px;
        margin-left: -8px;
        margin-right: -8px;
        margin-top: -11px;
        margin-bottom: 5px;
        box-shadow: 0 4px 4px black;
      }
.nav-title {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-size: 20px;
        font-weight: bold;
      }
.dropbtn {
  background-color: #333;
  font-family: 'Roboto', sans-serif;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 1080px;
  font-size: 22px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  display: none;
  position: absolute;
  background-color: black;
  min-width: 10px;
  box-shadow: 2px 2px 2px black;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: gray}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #333;
}
/*links*/
a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: purple;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    background-color: transparent;
    text-decoration: underline dotted blue;
}
a:active {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}
txt-embed {
        width: 100%;
        height: 300px;
        border: 1px solid #ccc;
      }

/*lists*/
ul {
    text-align: center;
    list-style-position: inside;
    padding: 20px;
    margin: 0 auto;
    display: inline-block;
}
li {
    display: block;
}

/*IMAGES*/
    img {
        display: block;
        margin: 20px auto;
        width: 50%;
        height: auto;
        opacity: 1;
    }
figcaption {
      font-size: 18px;
      text-align: left;
      padding: 50px;
      padding-top: 10px;
      padding-bottom: 10px;
}
.img:hover{
    color: #424242;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  opacity: 1;
  transform: scale(1.5);
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari and Chrome */

}

.narration{
    font-style: italic;
}

.dialogue{
    font-weight: bold;
    white-space: pre-wrap;
    margin-left: 20em;
    margin-right: 10em;
}
